<style type="text/css">
    .control-label {
        margin-top: 10px;
        font-size: 14px;

    }
    .input-group.date{
        width: 418px;
        margin-left: 15px;
    }
    .col-sm-3.control-label{
        line-height: 2px;
    }
    .tableTd{
        min-width: 80px;
    }
    .smallBtn{
        width: 45px;
        height: 30px;
        background-color: #4dbd73;
        font-family: 微软雅黑;
        border: 0;
        font-size: 14px;
        color: #fff;
        border-radius: 4px;
    }
    .uploadBtn{
        margin-left: 20px;
        width: 100px;
        height: 34px;
        background-color: #4dbd73;
        font-family: 微软雅黑;
        font-size: 14px;
        color: #fff;
        border: 0px;
        border-radius: 4px;
    }

</style>
<div ng-controller="staffController as staff">

    <div style="width: 1000px;overflow-x: auto;">
        <div class="form-inline" style="height: 45px;">
            <button class="nomalBtn" ng-click="showAddStaffModal()">
                <span class="glyphicon glyphicon-plus"></span> 新增员工
            </button>
            <button class="nomalBtn" ng-click="importStaff()">
                <span class="glyphicon glyphicon-cloud-upload"></span> 导入信息
            </button>
            <button class="nomalBtn" ng-click="hideOrShow()">
                <span class="glyphicon glyphicon-th-large"></span> 列定制
            </button>
        </div>
        <div style="margin-bottom: 20px" ng-show="isShow">
            <label class="checkbox-inline" ng-repeat="col in myCols">
                <input type="checkbox" ng-model="col.isShow"/> {{col.columnName}}
            </label>
        </div>

        <table ng-table="staff.tableParams" class="table table-bordered table-striped table-condensed" show-filter="true" ng-table-columns-binding="staff.cols" style="">
            <tr ng-repeat="row in $data ">
                <td data-title="'序号'" ng-if="true" style="width: 39px;text-align: center" class="tableTd">{{$index+1+(req.paging.pageNo-1)*req.paging.pageSize}}</td>
                <td data-title="'姓名'" filter="{name: 'text'}" ng-if="true" class="tableTd">{{row.name}}</td>
                <td data-title="'部门'" filter="{department: 'text'}" ng-if="true" class="tableTd">{{row.department}}</td>
                <td data-title="'职位'" filter="{position: 'text'}" ng-if="true" class="tableTd">{{row.position}}</td>
                <td data-title="'入职日期'" filter="{entryDate: 'text'}" ng-if="true" class="tableTd">{{row.entryDate | limitTo:19}}</td>
                <td data-title="'是否转正'" filter="{isFormal: 'select'}" filter-data="staff.formalArr" ng-if="true" class="tableTd">{{row.isFormal == 0 ? '否' : '是'}}</td>
                <td data-title="'转正日期'" ng-if="true" class="tableTd">{{row.formalDate}}</td>
                <td data-title="'司龄'" filter="{companyAge: 'number'}" ng-if="true" class="tableTd">{{row.companyAge}}</td>
                <td data-title="'身份证号'" filter="{idNumber: 'text'}" ng-if="true" class="tableTd">{{row.idNumber}}</td>
                <td data-title="'出生日期'" ng-if="true" class="tableTd">{{row.birth}}</td>
                <td data-title="'年龄'" filter="{age: 'number'}" ng-if="true" class="tableTd">{{row.age}}</td>
                <td data-title="'性别'" filter="{gender: 'select'}" ng-if="true" filter-data="staff.genderArr" class="tableTd">{{row.gender}}</td>
                <td data-title="'入职前工龄'" filter="{position: 'text'}" ng-if="true" class="tableTd">{{row.preSeniority}}</td>
                <td data-title="'工龄'" filter="{seniority: 'text'}" ng-if="true" class="tableTd">{{row.seniority}}</td>
                <td data-title="'工资卡号'" filter="{payCard: 'text'}" ng-if="true" class="tableTd">{{row.payCard}}</td>
                <td data-title="'政治面貌'" filter="{politicalStatus: 'select'}" ng-if="true" filter-data="staff.politicalArr" class="tableTd">{{row.politicalStatus}}</td>
                <td data-title="'工号'" filter="{jobNumber: 'text'}" ng-if="true" class="tableTd">{{row.jobNumber}}</td>
                <td data-title="'合同起始日期'" filter="{contractStart: 'text'}" ng-if="true" class="tableTd">{{row.contractStart}}</td>
                <td data-title="'合同结束日期'" filter="{contractEnd: 'text'}" ng-if="true" class="tableTd">{{row.contractEnd}}</td>
                <td data-title="'电话'" filter="{tel: 'text'}" ng-if="true" class="tableTd">{{row.tel}}</td>
                <td data-title="'毕业院校'" filter="{graduateSchool: 'text'}" ng-if="true" class="tableTd">{{row.graduateSchool}}</td>
                <td data-title="'专业'" filter="{major: 'text'}" ng-if="true" class="tableTd">{{row.major}}</td>
                <td data-title="'学历'" filter="{education: 'text'}" ng-if="true" class="tableTd">{{row.education}}</td>
                <td data-title="'毕业日期'" filter="{graduateDate: 'text'}" ng-if="true" class="tableTd">{{row.graduateDate}}</td>
                <td data-title="'职称/资格级别'" filter="{professionalLevel: 'text'}" ng-if="true" class="tableTd">{{row.professionalLevel}}</td>
                <td data-title="'职称/资格名称'" filter="{professionalName: 'text'}" ng-if="true" class="tableTd">{{row.professionalName}}</td>
                <td data-title="'证书有效期'" ng-if="true" class="tableTd">{{row.certificateValidity}}</td>
                <td data-title="'籍贯'" filter="{nativePlace: 'text'}" ng-if="true" class="tableTd">{{row.nativePlace}}</td>
                <td data-title="'家庭住址'" filter="{homeAddress: 'text'}" ng-if="true" class="tableTd">{{row.homeAddress}}</td>
                <td data-title="'户籍'" filter="{censusRegister: 'text'}" ng-if="true" class="tableTd">{{row.censusRegister}}</td>
                <td data-title="'档案保管'" filter="{fileKeep: 'text'}" ng-if="true" class="tableTd">{{row.fileKeep}}</td>
                <td data-title="'备注'" filter="{remark: 'text'}" ng-if="true" class="tableTd">{{row.remark}}</td>
                <td data-title="'紧急联系人'" filter="{emergencyContactor: 'text'}" ng-if="true" class="tableTd">{{row.emergencyContactor}}</td>
                <td data-title="'联系电话'" filter="{emergencyTel: 'text'}" ng-if="true" class="tableTd">{{row.emergencyTel}}</td>
                <td data-title="'所属公司'" filter="{company: 'text'}" ng-if="true" class="tableTd">{{row.company}}</td>
                <td data-title="'是否在职'" filter="{onJob: 'select'}" filter-data="staff.onJobArr" ng-if="true" class="tableTd">{{row.onJob}}</td>
                <td data-title="'离职日期'" ng-if="true" class="tableTd">{{row.leaveTime}}</td>
                <td data-title="'高新技术人员属性'" filter="{itAttributes: 'text'}" ng-if="true" class="tableTd">{{row.itAttributes}}</td>
                <td data-title="'高新技术研发人员'" filter="{researchStaff: 'text'}" ng-if="true" class="tableTd">{{row.researchStaff}}</td>
                <td data-title="'参加社保'" filter="{inAssurance: 'select'}" filter-data="staff.assuranceArr" ng-if="true" class="tableTd">{{row.inAssurance}}</td>


                <td data-title="'操作'" class="tableTd">
                    <button class="editBtn" title="修改员工" ng-click="showEditStaff($index)"/>
                    &nbsp;
                    <button class="deleteBtn" title="删除员工" ng-click="showDeleteStaff($index)"/>
                    &nbsp;
                </td>
            </tr>
        </table>

        <!--<table ng-table="staff.tableParams" class="table" show-filter="true">
            <tr ng-repeat="user in $data">
                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                    {{user.name}}</td>
                <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
                    {{user.age}}</td>
            </tr>
        </table>-->


    </div>

    <!--新增员工模态框-->
    <div class="modal fade" id="addStaffModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel2"> 新增员工信息</h4>
                </div>
                <div class="modal-body" style="max-height: 450px;overflow-y: auto">
                    <form class="form-horizontal" name="staffAddForm">
                        <div class="form-group" ng-class="{ 'has-error' : staffAddForm.name.$invalid && !staffAddForm.name.$pristine }">
                            <label for="name" class="col-sm-3 control-label">姓名：<span style="color: red;">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" id="name" name="name" placeholder="请输入姓名" class="form-control" ng-model="formData.name" required>
                                <p ng-show="staffAddForm.name.$invalid && !staffAddForm.name.$pristine" class="help-block">请输入姓名</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- Search input-->
                            <label for="department" class="col-sm-3 control-label">部门：</label>
                            <div class="col-sm-9">
                                <input type="text" id="department" name="department" placeholder="请输入所在部门" class="form-control" ng-model="formData.department">
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- Text input-->
                            <label class="col-sm-3 control-label" for="position">职位：</label>
                            <div class="col-sm-9">
                                <input type="text" id="position" name="position" placeholder="请输入职位" class="form-control" ng-model="formData.position"
                                       style="cursor: auto;">
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : staffAddForm.entryDate.$invalid && !staffAddForm.entryDate.$pristine }">
                            <!-- Text input-->
                            <label class="col-sm-3 control-label" for="entryDate">入职日期：</label>
                            <div class="col-sm-9">
                                <!--<input type="text" id="entryDate" name="entryDate" placeholder="请输入职位" class="form-control" ng-model="formData.entryDate"
                                       style="cursor: auto;">-->

                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target="#">
                                        <div class="input-group">
                                            <input type="text" id="entryDate" name="entryDate" class="form-control" data-ng-model="formData.entryDate" disabled="disabled" style="cursor: pointer" required>
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                        <p ng-show="staffAddForm.entryDate.$invalid && !staffAddForm.entryDate.$pristine" class="help-block">请填写入职时间</p>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker   data-ng-model="formData.entryDate"
                                                          data-datetimepicker-config="{ dropdownSelector: '#dropdown',  minView:'day' }"
                                                          data-on-set-time="onTimeSet(newDate, oldDate)"></datetimepicker>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group"  ng-class="{ 'has-error' : staffAddForm.isFormal.$invalid && !staffAddForm.isFormal.$pristine }">
                            <label  class="col-sm-3 control-label" for="isFormal">是否转正：</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="isFormal" name="isFormal" style="width: 240px;" ng-model="formData.isFormal" required="required">
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : staffAddForm.formalDate.$invalid && !staffAddForm.formalDate.$pristine }">
                            <!-- Text input-->
                            <label class="col-sm-3 control-label" for="formalDate">转正日期：</label>
                            <div class="col-sm-9">

                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown" data-target="#">
                                        <div class="input-group">
                                            <input type="text" id="formalDate" name="formalDate" class="form-control" data-ng-model="formData.formalDate" disabled="disabled" style="cursor: pointer">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                        <p ng-show="staffAddForm.birth.$invalid && !staffAddForm.birth.$pristine" class="help-block">请填写转正日期</p>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker   data-ng-model="formData.formalDate"
                                                          data-datetimepicker-config="{ dropdownSelector: '#dropdown4',minView:'day' }"
                                                          data-on-set-time="onTimeSet(newDate, oldDate)"></datetimepicker>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="companyAge">司龄：</label>
                            <div class="col-sm-9">
                                <input type="number" step="0.1" id="companyAge" name="companyAge" placeholder="请输入司龄" class="form-control" ng-model="formData.companyAge"
                                       style="cursor: auto;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="idNumber">身份证号：</label>
                            <div class="col-sm-9">
                                <input type="text" id="idNumber" name="idNumber" placeholder="请输入身份证号" class="form-control" ng-model="formData.idNumber"
                                       style="cursor: auto;">
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : staffAddForm.birth.$invalid && !staffAddForm.birth.$pristine }">
                            <!-- Text input-->
                            <label class="col-sm-3 control-label" for="birth">出生日期：</label>
                            <div class="col-sm-9">
                                <!--<input type="text" id="entryDate" name="entryDate" placeholder="请输入职位" class="form-control" ng-model="formData.entryDate"
                                       style="cursor: auto;">-->

                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                                        <div class="input-group">
                                            <input type="text" id="birth" name="birth" class="form-control" data-ng-model="formData.birth" disabled="disabled" style="cursor: pointer" required>
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                        <p ng-show="staffAddForm.birth.$invalid && !staffAddForm.birth.$pristine" class="help-block">请填写出生时间</p>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker   data-ng-model="formData.birth"
                                                          data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView:'day' }"
                                                          data-on-set-time="onTimeSet(newDate, oldDate)"></datetimepicker>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="age">年龄：</label>
                            <div class="col-sm-9">
                                <input type="number" id="age" name="age" placeholder="请输入年龄" class="form-control" ng-model="formData.age"
                                       style="cursor: auto;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" >性别：</label>
                            <div class="col-sm-9">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="genderRadio1" value="1" ng-model="formData.gender"> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio0" value="0" ng-model="formData.gender"> 女
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="preSeniority">入职前工龄：</label>
                            <div class="col-sm-9">
                                <input type="text" id="preSeniority" name="preSeniority" placeholder="请输入入职前工龄" class="form-control" ng-model="formData.preSeniority"
                                       style="cursor: auto;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="seniority">工龄：</label>
                            <div class="col-sm-9">
                                <input type="text" id="seniority" name="seniority" placeholder="请输入工龄" class="form-control" ng-model="formData.seniority"
                                       style="cursor: auto;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="payCard">工资卡号：</label>
                            <div class="col-sm-9">
                                <input type="text" id="payCard" name="payCard" placeholder="请输入工资卡号" class="form-control" ng-model="formData.payCard"
                                       style="cursor: auto;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-3 control-label" for="politicalStatus">政治面貌：</label>
                            <div class="col-sm-9">
                                <input type="text" id="politicalStatus" name="politicalStatus" placeholder="请输入政治面貌" class="form-control" ng-model="formData.politicalStatus"
                                       style="cursor: auto;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="jobNumber">工号：</label>
                            <div class="col-sm-9">
                                <input type="text" id="jobNumber" name="jobNumber" placeholder="请输入工号" class="form-control" ng-model="formData.jobNumber"
                                       style="cursor: auto;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="contractStart">合同起始时间：</label>
                            <div class="col-sm-9">
                                <div class="dropdown form-group">
                                    <a class="dropdown-toggle" id="contractStartLink" role="button" data-toggle="dropdown" data-target="#">
                                        <div class="input-group date">
                                            <input type="text" id="contractStart" name="contractStart" class="form-control" data-ng-model="formData.contractStart">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="formData.contractStart"
                                                        data-datetimepicker-config="{ dropdownSelector: '#contractStart', renderOn: 'end-date-changed', minView:'day' }"
                                                        data-on-set-time="startDateOnSetTime()"
                                                        data-before-render="startDateBeforeRender($dates)"></datetimepicker>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="contractEnd">合同结束时间：</label>
                            <div class="col-sm-9">
                                <div class="dropdown form-group">
                                    <a class="dropdown-toggle" id="contractEndLink" role="button" data-toggle="dropdown" data-target="#">
                                        <div class="input-group date">
                                            <input type="text" id="contractEnd"  name="contractEnd" class="form-control" data-ng-model="formData.contractEnd">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="formData.contractEnd"
                                                        data-datetimepicker-config="{ dropdownSelector: '#contractEnd', renderOn: 'start-date-changed', minView:'day' }"
                                                        data-on-set-time="endDateOnSetTime()"
                                                        data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="tel">电话：</label>
                            <div class="col-sm-9">
                                <input type="text" id="tel" name="tel" placeholder="请输入电话" class="form-control" ng-model="formData.tel"
                                       style="cursor: auto;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="graduateSchool">毕业院校：</label>
                            <div class="col-sm-9">
                                <input type="text" id="graduateSchool" name="graduateSchool" placeholder="请输入毕业院校" class="form-control" ng-model="formData.graduateSchool"
                                       style="cursor: auto;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="major">专业：</label>
                            <div class="col-sm-9">
                                <input type="text" id="major" name="major" placeholder="请输入专业" class="form-control" ng-model="formData.major"
                                       style="cursor: auto;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="education">学历：</label>
                            <div class="col-sm-9">
                                <input type="text" id="education" name="education" placeholder="请输入学历" class="form-control" ng-model="formData.education"
                                       style="cursor: auto;">
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : staffAddForm.birth.$invalid && !staffAddForm.birth.$pristine }">
                            <!-- Text input-->
                            <label class="col-sm-3 control-label" for="graduateDate">毕业日期：</label>
                            <div class="col-sm-9">

                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#">
                                        <div class="input-group">
                                            <input type="text" id="graduateDate" name="graduateDate" class="form-control" data-ng-model="formData.graduateDate" disabled="disabled" style="cursor: pointer" required>
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                        <p ng-show="staffAddForm.birth.$invalid && !staffAddForm.birth.$pristine" class="help-block">请填写毕业时间</p>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker   data-ng-model="formData.graduateDate"
                                                          data-datetimepicker-config="{ dropdownSelector: '#dropdown3', minView:'day' }"
                                                          data-on-set-time="onTimeSet()"></datetimepicker>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="professionalLevel">职称/资格级别：</label>
                            <div class="col-sm-9">
                                <input type="text" id="professionalLevel" name="professionalLevel" placeholder="请输入职称/资格级别" class="form-control" ng-model="formData.professionalLevel"
                                       style="cursor: auto;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="professionalName">职称/资格名称：</label>
                            <div class="col-sm-9">
                                <input type="text" id="professionalName" name="professionalName" placeholder="请输入职称/资格名称" class="form-control" ng-model="formData.professionalName"
                                       style="cursor: auto;">
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : staffAddForm.birth.$invalid && !staffAddForm.birth.$pristine }">
                            <label class="col-sm-3 control-label" for="graduateDate">证书有效期：</label>
                            <div class="col-sm-9">

                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="cvDropdown" role="button" data-toggle="dropdown" data-target="#">
                                        <div class="input-group">
                                            <input type="text" id="certificateValidity" name="certificateValidity" class="form-control" data-ng-model="formData.certificateValidity" disabled="disabled" style="cursor: pointer">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                        <p ng-show="staffAddForm.certificateValidity.$invalid && !staffAddForm.certificateValidity.$pristine" class="help-block">请填写证书有效期</p>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker   data-ng-model="formData.certificateValidity"
                                                          data-datetimepicker-config="{ dropdownSelector: '#cvDropdown', minView:'day' }"
                                                          data-on-set-time="onTimeSet()"></datetimepicker>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--根据身份证号自动判断获取-->
                        <!--<div class="form-group">
                            <label class="col-sm-3 control-label" for="nativePlace">籍贯：</label>
                            <div class="col-sm-9">
                                <input type="text" id="nativePlace" name="nativePlace" placeholder="请输入籍贯" class="form-control" ng-model="formData.nativePlace"
                                       style="cursor: auto;">
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="homeAddress">家庭住址：</label>
                            <div class="col-sm-9">
                                <input type="text" id="homeAddress" name="homeAddress" placeholder="请输入家庭住址" class="form-control" ng-model="formData.homeAddress"
                                       style="cursor: auto;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="censusRegister">户籍：</label>
                            <div class="col-sm-9">
                                <input type="text" id="censusRegister" name="censusRegister" placeholder="请输入户籍" class="form-control" ng-model="formData.censusRegister"
                                       style="cursor: auto;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="fileKeep">档案保管：</label>
                            <div class="col-sm-9">
                                <input type="text" id="fileKeep" name="fileKeep" placeholder="请输入档案保管" class="form-control" ng-model="formData.fileKeep"
                                       style="cursor: auto;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="remark">备注：</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="3" id="remark" name="remark" placeholder="请输入备注" ng-model="formData.remark"></textarea>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="emergencyContactor">紧急联系人：</label>
                            <div class="col-sm-9">
                                <input type="text" id="emergencyContactor" name="emergencyContactor" placeholder="请输入紧急联系人" class="form-control" ng-model="formData.emergencyContactor"
                                       style="cursor: auto;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="emergencyTel">联系电话：</label>
                            <div class="col-sm-9">
                                <input type="text" id="emergencyTel" name="emergencyTel" placeholder="请输入联系电话" class="form-control" ng-model="formData.emergencyTel"
                                       style="cursor: auto;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="company">所属公司：</label>
                            <div class="col-sm-9">
                                <input type="text" id="company" name="company" placeholder="请输入所属公司" class="form-control" ng-model="formData.company"
                                       style="cursor: auto;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="emergencyTel">是否在职：</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="onJob" name="onJob" style="width: 240px;" ng-model="formData.onJob">
                                    <option value="1">在职</option>
                                    <option value="0">离职</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : staffAddForm.leaveTime.$invalid && !staffAddForm.leaveTime.$pristine }">
                            <label class="col-sm-3 control-label" for="graduateDate">离职日期：</label>
                            <div class="col-sm-9">

                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="ltDropdown" role="button" data-toggle="dropdown" data-target="#">
                                        <div class="input-group">
                                            <input type="text" id="leaveTime" name="leaveTime" class="form-control" data-ng-model="formData.leaveTime" disabled="disabled" style="cursor: pointer">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                        <p ng-show="staffAddForm.leaveTime.$invalid && !staffAddForm.leaveTime.$pristine" class="help-block">请填写离职日期</p>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker   data-ng-model="formData.leaveTime"
                                                          data-datetimepicker-config="{ dropdownSelector: '#ltDropdown', minView:'day' }"
                                                          data-on-set-time="onTimeSet()"></datetimepicker>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="itAttributes">高新技术人员属性：</label>
                            <div class="col-sm-9">
                                <input type="text" id="itAttributes" name="itAttributes" placeholder="请输入高新技术人员属性" class="form-control" ng-model="formData.itAttributes"
                                       style="cursor: auto;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="researchStaff">高新技术研发人员：</label>
                            <div class="col-sm-9">
                                <input type="text" id="researchStaff" name="researchStaff" placeholder="请输入高新技术研发人员" class="form-control" ng-model="formData.researchStaff"
                                       style="cursor: auto;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="inAssurance">参加社保：</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="inAssurance" name="inAssurance" style="width: 240px;" ng-model="formData.inAssurance">
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="sure"
                            ng-disabled="staffAddForm.name.$invalid||staffAddForm.department.$invalid||staffAddForm.position.$invalid||staffAddForm.entryDate.$invalid||staffAddForm.isFormal.$invalid"
                            ng-click="addStaff()">确认
                    </button>
                </div>


            </div>
        </div>
    </div>

    <div class="modal fade" id="uploadStaff" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel3"> 导入员工信息</h4>
                </div>
                <div class="modal-body" style="max-height: 450px;overflow-y: auto">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <input type="file" name="file" class="myFile" ng-model="myFile" >
                        </div>
                        <div class="form-group">
                            <button class="uploadBtn" ng-click="Upload()">
                                <span class="glyphicon glyphicon-upload"></span> 上传
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>