<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
  http://www.springframework.org/schema/aop
  http://www.springframework.org/schema/aop/spring-aop.xsd
  http://www.springframework.org/schema/task
  http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<!-- 配置要扫描的包 -->
	<context:component-scan base-package="zzjz.*" />

	<!-- 配置文件位置 -->
	<context:property-placeholder location="classpath*:*.properties"/>

	<!-- Druid 和 Spring 关联监控配置 start-->
	<!-- 具体可以查阅官网：https://github.com/alibaba/druid/wiki/%E9%85%8D%E7%BD%AE_Druid%E5%92%8CSpring%E5%85%B3%E8%81%94%E7%9B%91%E6%8E%A7%E9%85%8D%E7%BD%AE-->
	<bean id="druid-stat-interceptor" class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor" />
	<bean id="druid-stat-pointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut" scope="prototype">
		<property name="patterns">
			<list>
				<value>zzjz.service.*</value>
				<!--如果使用的是 hibernate 则这里也要扫描路径，但是 mybatis 不需要-->
				<!--<value>com.zzjz.ssm.module.*.dao.*</value>-->
			</list>
		</property>
	</bean>

	<aop:config proxy-target-class="true">
		<!-- pointcut-ref="druid-stat-pointcut" 这个报红没事-->
		<aop:advisor advice-ref="druid-stat-interceptor" pointcut-ref="druid-stat-pointcut" />
	</aop:config>
	<!-- Druid 和 Spring 关联监控配置 end-->


	<!-- (事务管理器)transaction manager, use JtaTransactionManager for global tx -->
	<!--http://www.mybatis.org/spring/zh/transactions.html-->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 一种方式:注解方式配置事物,扫描@Transactional注解的类定义事务，配置上service实现类 -->
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>



</beans>